@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* General  */
  --all-headings: "Outfit", sans-serif;
  --heading-color: #f4f4f4;
  --paragraph: "Roboto", sans-serif;
  --body-background: #000235;
  --text-color: #bebebe;
  --text-sizing: 16px;

  /* MOBILE  */
  --hero-heading-desktop-size: 87px;
  --hero-heading-mobile-size: 64px;
  --other-heading-mobile: 24px;
  --hero-text-size-mobile: 18px;

  /* DESKTOP */
}

body {
  font-family: var(--paragraph);
  background: var(--body-background);
  color: var(--text-color);
  font-size: var(--text-sizing);
}

/* MOBILE STYLING */
.main__content {
  max-width: 480px;
  margin: 0 auto;
  padding: 0px 10px 15px 10px;
}

.backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: all 0.5s ease-in-out;
}
.desktop__bg__circle {
  display: none;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.desktop__navigation__links {
  display: none;
}

.social__icons {
  display: none;
}

.social__icons__mobile {
  display: flex;
}

/* NAVIGATION */
nav .header__links__mobile {
  position: fixed;
  display: block;
  width: 70%;
  height: 100%;
  /* background: #042331; */
  /* background: #0a0429; */
  background: #000235;
  /* background: #00002d; */
  color: #fff;
  line-height: 40px;
  padding-top: 92px;
  right: -200%;
  top: 0;
  bottom: 0;
  z-index: 100;
  transition: all 0.5s ease-in-out;
}

.header__links__mobile > li {
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid black;
  padding: 20px;
  box-sizing: border-box;
  font-weight: var(--mediumWeight);
  transition: all 0.5s ease-in-out;
}
.header__links__mobile li a:hover {
  padding-left: 10px;
}
.header__links__mobile > li:last-child {
  border-bottom: 1px solid rgba(159, 154, 154, 0.1);
}
.show__nav > .mobile__icon {
  display: none;
}
.show__nav > .header__links__mobile {
  right: 0;
}

.show__nav > .close__nav {
  display: block;
  z-index: 999;
  color: #fff;
}
nav .close__nav {
  position: absolute;
  top: 20px;
  right: 15px;
}

/* HERO SECTION  */
.hero__section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 0;
}
.hero__text > h1 {
  font-family: var(--all-headings);
  font-size: var(--hero-heading-mobile-size);
  color: var(--heading-color);
  line-height: 70px;
}

.hero__section > p {
  font-size: var(--hero-text-size-mobile);
}

/* ABOUT ME SECTION */

.about__me {
  margin-top: 56px;
}
.about__me > h2 {
  font-family: var(--all-headings);
  color: var(--heading-color);
  font-size: var(--other-heading-mobile);
}

.about__text > p {
  margin-top: 24px;
}

/* TECH SKILLS SECTION  */
.tech__skills > h2 {
  font-family: var(--all-headings);
  color: var(--heading-color);
  font-size: var(--other-heading-mobile);
}
/* .tech__container::-webkit-scrollbar {
  width: 0;
} */

/* PROJECTS SECTION  */
.projects > h2 {
  font-family: var(--all-headings);
  color: var(--heading-color);
  font-size: var(--other-heading-mobile);
}

/* Contact section  */
.contact > h2 {
  font-family: var(--all-headings);
  color: var(--heading-color);
  font-size: var(--other-heading-mobile);
}

/* DESKTOP STYLING */

@media only screen and (min-width: 480px) {
  .main__content {
    width: 1440px;
    max-width: 1065px;
    margin: 0 auto;
    padding: 0px;
    /* border: 1px solid red; */
  }

  .mobile__bg__circle {
    display: none;
  }
  .desktop__bg__circle {
    display: block;
  }

  .header__container {
    width: 1440px;
    margin: 0 auto;
    padding: 0px;
  }

  .header > .logo > h1 {
    font-family: var(--all-headings);
  }

  .desktop__navigation__links {
    display: flex;
  }

  .social__icons {
    display: flex;
  }

  .social__icons__mobile {
    display: none;
  }

  .mobile__icon {
    display: none;
  }

  /* HERO SECTION  */
  .hero__section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: space;
    justify-content: space-between;
    gap: 100px;
    /* height: 100vh; */
    /* margin-top: 0px; */
  }
  .hero__section > img {
    width: 450px;
    height: 450px;
  }

  .hero__text {
    order: -1;
  }

  /* CONTACT SECTION  */
  .about__me {
    margin-top: 0;
  }
  .about__content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
  }
  .about__me > h2 {
    font-family: var(--all-headings);
    color: var(--heading-color);
    font-size: var(--other-heading-mobile);
  }

  .about__text > p {
    margin-top: 24px;
  }

  .about__text > p:first-child {
    margin-top: 0;
  }

  .about__content > .contact__image__div {
    width: 250px;
    height: 250px;
    margin: 0px;
  }

  .about__text {
    order: 1;
  }
  .about__content > .about__text {
    padding: 0px;
  }

  /* TECHNOLOGY SECTION  */

  /* PROJECTS SECTIONS  */

  /* CONTACT SECTION  */
}
